<header class="site-header">
  <nav class="nav">
    <div class="nav-left">
      <a href="{{ '/en/' | relative_url }}">Dr Fei Math Tutoring</a>
      <a href="{{ '/en/courses/' | relative_url }}">courses</a>
      <a href="{{ '/en/about/' | relative_url }}">about me</a>
      <a href="{{ '/en/contact/' | relative_url }}">contact</a>
    </div>

    <div class="lang">
      <a href="{{ '/zh-hans/' | relative_url }}">中文</a>
      <span>|</span>
      <a href="{{ '/en/' | relative_url }}">EN</a>
    </div>
  </nav>
</header>
